extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Desiree Morimoto

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Hi, I'm Desiree. I'm entering the world of software development from the restaurant industry.
          | While managing a restaurant is fun (and challenging!), I've finally found my passion in software engineering.
          | When I'm not behind my laptop, you'll most likely find me in the gym, playing games with friends, or cooking in the kitchen.
          | Thanks for checking out my portfolio!


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Python 
          li React 
          li Jinja2 
          li Flask 
          li Bootstrap
          li ...more coming soon!

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li dmorimoto89@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/desiree-morimoto-9470481b0/') LinkedIn
        a.btn-link(href='https://github.com/DesireeMM') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back